@model PageHeaderViewModel
<!-- Page Header -->
<header class="masthead" style="background-image: url('img/@Model.BackgroundImage')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@Model.HeaderTitle</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Search Widget -->
<div class="col-md-4 float-right">
    <div class="card my-4">
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>