@model PageHeaderViewModel
@await Component.InvokeAsync("PageHeader", new { model = Model })

@{
    ViewData["Title"] = Model.PageTitle;
}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p class="text-danger">You do not have access to this resource.</p>
        </div>
    </div>
</div>