@model PageHeaderViewModel
@await Component.InvokeAsync("PageHeader", new { model = Model })

@{
    ViewData["Title"] = Model.PageTitle;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
